pre, code { font-family: Hack, monospace; }

body {
  background-color: #FEFFEA;
}

#wrapper {
  max-width: 940px;
  margin: 100px auto;
}

h1 {
  font-family: monospace;
  color: red;
}

p {
  font-family: monospace;
}
